.one{
    background-image:url(IP3-master/assets/backgrounds/h_img.jpg);
}
h1{
    text-align:center;
    margin:40px;
    color:white;
    font-size:80px;
}
h2{
    text-align:center;
    font-size:80px;
    color:white;
}
h3{
    text-align: center;
    color:white;
    font-size: 30px;
}
h4{
    text-align: center;
    font-size: 60px;
    color:black;
}
p{
    text-align: center;
}
.two{
    text-align: center;
    font-size: 22px;
    color:black;
    margin:5px;
    padding:10px;
    line-height:60px;
}
.three{
    background-image:url(IP3-master/assets/backgrounds/s_image.jpg);
    font-size:22px ;
    color:white;
    line-height:60px;
    background-repeat: no-repeat;
}
h5{
    text-align: center;
    font-size: 60px;
    color:white; 
}
